*{
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main-footer {
    background: #333;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__link a {
    text-decoration: none;
    color: #fff;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 80px);
    vertical-align: middle;
    
}

.main-nav__item {
    display: inline-block;
    
}

.main-nav__item a {
    text-decoration: none;
    margin: 20px;
    color: #0e4f1f;
    padding: 5px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #fff;
    border-bottom: 5px solid #fff;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
}

.main-nav__item--cta a {
    color: #fff;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 5px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: #fff;
    border: none;
}

.button {
    background: #0e4f1f;
    color: #fff;
    font: inherit;
    border: 1.5px solid green;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
} 

.button:hover,
.button:active {
    background: #fff;
    color: #0e4f1f;
}